$color: #d41111;

.reports__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  background-color: pink;
}
