.report__container {
  background-color: rgb(238, 239, 240);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 15px;
  min-height: 20rem;
  padding: 1rem;
  width: 18rem;
  position: relative;
  .Delete {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }
}
