.navbar__container {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 1px solid black;
  background-color: rgba(150, 172, 185, 0.061);
  .rigthIcons {
    display: flex;
    gap: 2rem;
    img {
      width: 3rem;
      height: 3rem;
    }
    .report {
      position: relative;
    }
    .counter {
      position: absolute;
      right: 0rem;
      bottom: 0px;
      color: red;
    }
  }
  img {
    width: 10rem;
    height: 9rem;
  }
}
@media (max-width: 867px) {
  .navbar__container {
    padding: 0 0.7rem;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0.698);
    .rigthIcons {
      display: flex;
      gap: 0.3rem;
      img {
        width: 2rem;
        height: 2rem;
      }
    }
    img {
      width: 5rem;
      height: 5rem;
    }
  }
}
